# 忽略特定目录
# /A
# 忽略所有同名目录
# A
# 不忽略特定目录
# !/A/B

# 忽略特定文件
# /A/a.txt
# 忽略所有同名文件
# a.txt

# 匹配规则和linux文件匹配一样
# 斜杠 / 开头表示目录
# 星号 * 通配多个字符
# 问号 ? 通配单个字符
# 方括号 [] 包含单个字符的匹配列表
# 叹号 ! 表示不忽略匹配到的文件或目录

# 中间编译文件
__pycache__

# Pycharm配置
/.idea

# 过大的数据集
/StructuredDatasets/*.json
